
.form-group{
    margin-bottom: -10px !important;
}

.address-form-error{
    margin-bottom: 0px;
    margin-top: 0px;
    float: right;
}

.form-fixed {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 40px;
}